/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.dll
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.exe
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.pdb
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.runtimeconfig.dev.json
/Lesson_1/.vs/Lesson_1/v16/.suo
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/db.lock
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/storage.ide
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/storage.ide-shm
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/storage.ide-wal
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.AssemblyInfo.cs
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.AssemblyInfoInputs.cache
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.assets.cache
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.csprojAssemblyReference.cache
/Lesson_1/obj/LessonOne.csproj.nuget.cache
/Lesson_1/obj/LessonOne.csproj.nuget.dgspec.json
/Lesson_1/obj/LessonOne.csproj.nuget.g.props
/Lesson_1/obj/LessonOne.csproj.nuget.g.targets
/Lesson_1/obj/project.assets.json
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.AssemblyInfo.cs
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.AssemblyInfoInputs.cache
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.assets.cache
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.csprojAssemblyReference.cache
/LessonFive/obj/LessonFive.csproj.nuget.cache
/LessonFive/obj/LessonFive.csproj.nuget.dgspec.json
/LessonFive/obj/LessonFive.csproj.nuget.g.props
/LessonFive/obj/LessonFive.csproj.nuget.g.targets
/LessonFive/obj/project.assets.json
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.AssemblyInfo.cs
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.AssemblyInfoInputs.cache
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.assets.cache
/LessonFour/obj/LessonFour.csproj.nuget.cache
/LessonFour/obj/LessonFour.csproj.nuget.dgspec.json
/LessonFour/obj/LessonFour.csproj.nuget.g.props
/LessonFour/obj/LessonFour.csproj.nuget.g.targets
/LessonFour/obj/project.assets.json
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.deps.json
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.dll
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.exe
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.pdb
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.runtimeconfig.dev.json
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.runtimeconfig.json
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.AssemblyInfo.cs
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.AssemblyInfoInputs.cache
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.assets.cache
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.csproj.FileListAbsolute.txt
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.dll
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.exe
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.pdb
/LessonSix/obj/LessonSix.csproj.nuget.cache
/LessonSix/obj/LessonSix.csproj.nuget.dgspec.json
/LessonSix/obj/LessonSix.csproj.nuget.g.props
/LessonSix/obj/LessonSix.csproj.nuget.g.targets
/LessonSix/obj/project.assets.json
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.AssemblyInfo.cs
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.AssemblyInfoInputs.cache
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.assets.cache
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.csprojAssemblyReference.cache
/LessonThree/obj/LessonThree.csproj.nuget.cache
/LessonThree/obj/LessonThree.csproj.nuget.dgspec.json
/LessonThree/obj/LessonThree.csproj.nuget.g.props
/LessonThree/obj/LessonThree.csproj.nuget.g.targets
/LessonThree/obj/project.assets.json
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.AssemblyInfo.cs
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.AssemblyInfoInputs.cache
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.assets.cache
/LessonTwo/obj/LessonTwo.csproj.nuget.cache
/LessonTwo/obj/LessonTwo.csproj.nuget.dgspec.json
/LessonTwo/obj/LessonTwo.csproj.nuget.g.props
/LessonTwo/obj/LessonTwo.csproj.nuget.g.targets
/LessonTwo/obj/project.assets.json
/Mathlib/obj/Debug/Mathlib.csprojAssemblyReference.cache
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.AssemblyInfo.cs
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.AssemblyInfoInputs.cache
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.assets.cache
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.csprojAssemblyReference.cache
/TestProject/obj/LessonEightTest.csproj.nuget.cache
/TestProject/obj/LessonEightTest.csproj.nuget.dgspec.json
/TestProject/obj/LessonEightTest.csproj.nuget.g.props
/TestProject/obj/LessonEightTest.csproj.nuget.g.targets
/TestProject/obj/project.assets.json
/Lesson_1/.vs/Lesson_1/v16/TestStore/0/000-0000.testlog
/Lesson_1/.vs/Lesson_1/v16/TestStore/0/testlog.manifest
/Lesson_1/bin/Debug/netcoreapp3.0/LessonOne.deps.json
/Lesson_1/bin/Debug/netcoreapp3.0/LessonOne.dll
/Lesson_1/bin/Debug/netcoreapp3.0/LessonOne.exe
/Lesson_1/bin/Debug/netcoreapp3.0/LessonOne.pdb
/Lesson_1/bin/Debug/netcoreapp3.0/LessonOne.runtimeconfig.dev.json
/Lesson_1/bin/Debug/netcoreapp3.0/LessonOne.runtimeconfig.json
/Lesson_1/bin/Debug/netcoreapp3.0/Mathlib.dll
/Lesson_1/bin/Debug/netcoreapp3.0/Mathlib.pdb
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.csproj.CopyComplete
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.csproj.FileListAbsolute.txt
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.dll
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.exe
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.pdb
/LessonFive/bin/Debug/netcoreapp3.0/LessonFive.deps.json
/LessonFive/bin/Debug/netcoreapp3.0/LessonFive.dll
/LessonFive/bin/Debug/netcoreapp3.0/LessonFive.exe
/LessonFive/bin/Debug/netcoreapp3.0/LessonFive.pdb
/LessonFive/bin/Debug/netcoreapp3.0/LessonFive.runtimeconfig.dev.json
/LessonFive/bin/Debug/netcoreapp3.0/LessonFive.runtimeconfig.json
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.csproj.FileListAbsolute.txt
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.dll
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.exe
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.pdb
/LessonFour/bin/Debug/netcoreapp3.0/LessonFour.deps.json
/LessonFour/bin/Debug/netcoreapp3.0/LessonFour.dll
/LessonFour/bin/Debug/netcoreapp3.0/LessonFour.exe
/LessonFour/bin/Debug/netcoreapp3.0/LessonFour.pdb
/LessonFour/bin/Debug/netcoreapp3.0/LessonFour.runtimeconfig.dev.json
/LessonFour/bin/Debug/netcoreapp3.0/LessonFour.runtimeconfig.json
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.csproj.FileListAbsolute.txt
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.dll
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.exe
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.pdb
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.deps.json
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.runtimeconfig.json
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.csproj.FileListAbsolute.txt
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.dll
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.exe
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.pdb
/LessonTwo/bin/Debug/netcoreapp3.0/LessonTwo.deps.json
/LessonTwo/bin/Debug/netcoreapp3.0/LessonTwo.dll
/LessonTwo/bin/Debug/netcoreapp3.0/LessonTwo.exe
/LessonTwo/bin/Debug/netcoreapp3.0/LessonTwo.pdb
/LessonTwo/bin/Debug/netcoreapp3.0/LessonTwo.runtimeconfig.dev.json
/LessonTwo/bin/Debug/netcoreapp3.0/LessonTwo.runtimeconfig.json
/LessonTwo/bin/Debug/netcoreapp3.0/Mathlib.dll
/LessonTwo/bin/Debug/netcoreapp3.0/Mathlib.pdb
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.csproj.CopyComplete
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.csproj.FileListAbsolute.txt
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.dll
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.exe
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.pdb
/Mathlib/bin/Debug/Mathlib.dll
/Mathlib/bin/Debug/Mathlib.pdb
/Mathlib/obj/Debug/Mathlib.csproj.FileListAbsolute.txt
/Mathlib/obj/Debug/Mathlib.dll
/Mathlib/obj/Debug/Mathlib.pdb
/TestProject/bin/Debug/netcoreapp3.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/LessonEightTest.deps.json
/TestProject/bin/Debug/netcoreapp3.0/LessonEightTest.dll
/TestProject/bin/Debug/netcoreapp3.0/LessonEightTest.pdb
/TestProject/bin/Debug/netcoreapp3.0/LessonEightTest.runtimeconfig.dev.json
/TestProject/bin/Debug/netcoreapp3.0/LessonEightTest.runtimeconfig.json
/TestProject/bin/Debug/netcoreapp3.0/LessonFour.dll
/TestProject/bin/Debug/netcoreapp3.0/LessonFour.exe
/TestProject/bin/Debug/netcoreapp3.0/LessonFour.pdb
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.DotNet.InternalAbstractions.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.CoreUtilities.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.Utilities.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/TestProject/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/TestProject/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
/TestProject/bin/Debug/netcoreapp3.0/nunit.engine.netstandard.dll
/TestProject/bin/Debug/netcoreapp3.0/nunit.framework.dll
/TestProject/bin/Debug/netcoreapp3.0/nunit_random_seed.tmp
/TestProject/bin/Debug/netcoreapp3.0/NUnit3.TestAdapter.dll
/TestProject/bin/Debug/netcoreapp3.0/NUnit3.TestAdapter.pdb
/TestProject/bin/Debug/netcoreapp3.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/System.Xml.XPath.XmlDocument.dll
/TestProject/bin/Debug/netcoreapp3.0/testhost.dll
/TestProject/bin/Debug/netcoreapp3.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/TestProject/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.csproj.CopyComplete
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.csproj.FileListAbsolute.txt
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.dll
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.pdb
