/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.dll
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.exe
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.pdb
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.runtimeconfig.dev.json
