/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.dll
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.exe
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.pdb
/LessonThree/bin/Debug/netcoreapp3.0/LessonThree.runtimeconfig.dev.json
/Lesson_1/.vs/Lesson_1/v16/.suo
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/db.lock
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/storage.ide
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/storage.ide-shm
/Lesson_1/.vs/Lesson_1/v16/Server/sqlite3/storage.ide-wal
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.AssemblyInfo.cs
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.AssemblyInfoInputs.cache
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.assets.cache
/Lesson_1/obj/Debug/netcoreapp3.0/LessonOne.csprojAssemblyReference.cache
/Lesson_1/obj/LessonOne.csproj.nuget.cache
/Lesson_1/obj/LessonOne.csproj.nuget.dgspec.json
/Lesson_1/obj/LessonOne.csproj.nuget.g.props
/Lesson_1/obj/LessonOne.csproj.nuget.g.targets
/Lesson_1/obj/project.assets.json
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.AssemblyInfo.cs
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.AssemblyInfoInputs.cache
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.assets.cache
/LessonFive/obj/Debug/netcoreapp3.0/LessonFive.csprojAssemblyReference.cache
/LessonFive/obj/LessonFive.csproj.nuget.cache
/LessonFive/obj/LessonFive.csproj.nuget.dgspec.json
/LessonFive/obj/LessonFive.csproj.nuget.g.props
/LessonFive/obj/LessonFive.csproj.nuget.g.targets
/LessonFive/obj/project.assets.json
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.AssemblyInfo.cs
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.AssemblyInfoInputs.cache
/LessonFour/obj/Debug/netcoreapp3.0/LessonFour.assets.cache
/LessonFour/obj/LessonFour.csproj.nuget.cache
/LessonFour/obj/LessonFour.csproj.nuget.dgspec.json
/LessonFour/obj/LessonFour.csproj.nuget.g.props
/LessonFour/obj/LessonFour.csproj.nuget.g.targets
/LessonFour/obj/project.assets.json
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.deps.json
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.dll
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.exe
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.pdb
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.runtimeconfig.dev.json
/LessonSix/bin/Debug/netcoreapp3.0/LessonSix.runtimeconfig.json
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.AssemblyInfo.cs
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.AssemblyInfoInputs.cache
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.assets.cache
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.csproj.FileListAbsolute.txt
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.dll
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.exe
/LessonSix/obj/Debug/netcoreapp3.0/LessonSix.pdb
/LessonSix/obj/LessonSix.csproj.nuget.cache
/LessonSix/obj/LessonSix.csproj.nuget.dgspec.json
/LessonSix/obj/LessonSix.csproj.nuget.g.props
/LessonSix/obj/LessonSix.csproj.nuget.g.targets
/LessonSix/obj/project.assets.json
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.AssemblyInfo.cs
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.AssemblyInfoInputs.cache
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.assets.cache
/LessonThree/obj/Debug/netcoreapp3.0/LessonThree.csprojAssemblyReference.cache
/LessonThree/obj/LessonThree.csproj.nuget.cache
/LessonThree/obj/LessonThree.csproj.nuget.dgspec.json
/LessonThree/obj/LessonThree.csproj.nuget.g.props
/LessonThree/obj/LessonThree.csproj.nuget.g.targets
/LessonThree/obj/project.assets.json
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.AssemblyInfo.cs
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.AssemblyInfoInputs.cache
/LessonTwo/obj/Debug/netcoreapp3.0/LessonTwo.assets.cache
/LessonTwo/obj/LessonTwo.csproj.nuget.cache
/LessonTwo/obj/LessonTwo.csproj.nuget.dgspec.json
/LessonTwo/obj/LessonTwo.csproj.nuget.g.props
/LessonTwo/obj/LessonTwo.csproj.nuget.g.targets
/LessonTwo/obj/project.assets.json
/Mathlib/obj/Debug/Mathlib.csprojAssemblyReference.cache
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.AssemblyInfo.cs
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.AssemblyInfoInputs.cache
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.assets.cache
/TestProject/obj/Debug/netcoreapp3.0/LessonEightTest.csprojAssemblyReference.cache
/TestProject/obj/LessonEightTest.csproj.nuget.cache
/TestProject/obj/LessonEightTest.csproj.nuget.dgspec.json
/TestProject/obj/LessonEightTest.csproj.nuget.g.props
/TestProject/obj/LessonEightTest.csproj.nuget.g.targets
/TestProject/obj/project.assets.json
